@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.toolsIcons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 100px;
 left: -20%;
}

.databasesIcons{
   position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 100px;
 left: -20%;
}

.Mtools{
  position: relative;
 
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  left: -30%;
  padding-top: 100px;
  border-bottom: 2px solid #ffffff;
  width: 70%;
}

.bases{
  position: relative;
 
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  left: -30%;
  padding-top: 190px;
  border-bottom: 2px solid #ffffff;
  width: 70%;

}

#techGrades2{
  position: relative;
left:450px
}


#techGrades{
  position: relative;
  left:-250px;
}


.techNames {
 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ysabeau SC', sans-serif;
}

.frontDiv{
  position: relative;
  padding: 100px;
  left:-220px
}


#frontDiv{
  position: relative;
  padding: 100px;
  left:-700px
}

#backDiv{
  position: relative;
  padding: 100px;
  top:220px;
  left:-700px
}

#front {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  left: 20%;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
  width: 70%
}


#circle{
  position: absolute;
  width: 200%;
  left:-50%;
}
/* 
.sphereDiv{
  background: rgba(30, 30, 30, 1);

} */

.sphere{
  position: absolute;
  top:1700px;
  left:30%;
  /* background: rgba(30, 30, 30, 0.8); */
  border-radius: 100%;
  height: 600px;
  /* border-width: 0.5px; 
  border-color: #ffffff;
  border-style: solid;  */
}

.skills{
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size:90px;
  top:1500px;
  left:40%;
}

.aboutDiv1{
  position: absolute;
  left:30%;
  top:1200px;
 
}
.aboutDiv2{
  position: absolute;
  left:60%;
  top:1200px;
 
}

.info{
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size:50px;
  left: 40px;
}
#ten{
  position: relative;
  left: 100px;
}
.infoDis{
  
  font-family: 'Raleway', sans-serif;
  font-size:30px;
 
}
.bio{
  width: 80%;
  position: absolute;
  left:100px;
  font-family: 'Raleway', sans-serif;
  font-size:30px;
  top:300px;
}
.profile2{
  border-radius: 200px;
position: relative;
right:-42%;
top:150px;

  /* filter: blur(10px); */
}

.backgroundImage2 {
  position: absolute;
  
 width: 100%;
 height: 100%;
  /* background-image: url('https://wallpapers.com/images/hd/black-and-white-space-cfkf3021h0hfg3rb.jpg'); */
  background-size:contain;
  background-attachment:fixed;
}


.title {
  position: absolute;
  font-size:60px;
  font-family: 'Raleway Dots', cursive;
  top: 25%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 1200px;
}


  .typewriter{
    position:absolute;
   left:700px;
   top:300px;
   font-family: 'Raleway Dots', cursive;
   font-size: 60px;
   /* color: #B59410; */
   /* background-color: black; */
   width: 500px;
  }
.introContainer {
  position: relative;
  height: auto;
  /* Additional styles for the container */
}
.profile{
  border-radius: 200px;
position: relative;
right:-400px;
top:150px;

  /* filter: blur(10px); */
}
.backgroundImage {
  position: absolute;
  
 width: 100%;
 height: 100%;
  background-image: url('https://wallpaperset.com/w/full/c/1/4/427159.jpg');
  background-size:contain;
  
}

navText {
  left:20px;
}


a {
  font-family: 'Raleway';
  font-size: 30px;

 
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #ff6347;
}